<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="put" th:action="@{/admin/create}" th:object="${user}">
    <input type="hidden" name="_method" value="put">
    <fieldset>
        <legend><h2>Персональная информация</h2></legend>
        <label for="username">Логин:</label>
        <input type="text" th:field="*{username}" id="username"/>
        </br>
        <br>
        <label for="password">Пароль:</label>
        <input type="password" th:field="*{password}" id="password"/>
        </br>
        <br>
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name"/>
        </br>
        <br>
        <label for="birthday">Дата Рождения:</label>
        <input type="date" th:field="*{birthday}" id="birthday"/>
        <br/>
        <br>
        <label>Пол:</label>
        <label>
            <input type="radio" th:field="*{gender}" name="gender" value="Man">Man
        </label>
        <label>
            <input type="radio" th:field="*{gender}" name="gender" value="Woman">Woman
        </label>
        <br/>
        <p>
            <label for="admin">Админ:
                <input type="checkbox" th:checked="${isAdmin}" name="admin" id="admin"/>
            </label>
        </p>
        <br>
        <input type="submit" value="Добавить"/>
        <input type="reset">
        </br>
    </fieldset>
</form>

</body>
</html>