<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Регистрация</title>
</head>

<body>

<div>
    <form th:method="put" th:action="@{/registration}" th:object="${user}">
        <input type="hidden" name="_method" value="put">
        <fieldset>
            <legend><h2>Регистрация</h2></legend>
            <div>
                <label for="username">Логин:</label>
                <input type="text" th:field="*{username}" id="username"/>
                </br>
                <br>
                <label for="password">Пароль:</label>
                <input type="password" th:field="*{password}" id="password"/>
                </br>
                <br>
                <label for="name">Имя:</label>
                <input type="text" th:field="*{name}" id="name"/>
                </br>
                <br>
                <label for="birthday">Дата Рождения:</label>
                <input type="date" th:field="*{birthday}" id="birthday"/>
                <br/>
                <br>
                <label>Пол:</label>
                <label>
                    <input type="radio" th:field="*{gender}" name="gender" value="Man">Man
                </label>
                <label>
                    <input type="radio" th:field="*{gender}" name="gender" value="Woman">Woman
                </label>
                <br/>
                <br>
            </div>
            <input type="submit" value="Зарегистрироваться">
        </fieldset>
    </form>
    </br>
</div>

</body>
</html>