<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
<form th:method="patch" th:action="@{/users/edit/{id}(id=${user.getId()})}" th:object="${user}">
    <fieldset>
        <legend>Персональная информация</legend>
        <br>
        <label for="name">Имя:</label>
        <input type="text" th:field="*{name}" id="name"/>
        </br>
        <br>
        <label for="birthday">Дата Рождения:</label>
        <input type="date" th:field="*{birthday}" id="birthday"/>
        <br/>
        <br>
        <label>Пол:</label>
        <label>
            <input type="radio" th:field="*{gender}" name="gender" value="Man">Man
        </label>
        <label>
            <input type="radio" th:field="*{gender}" name="gender" value="Woman">Woman
        </label>
        <br/>
        <br>
        <input type="submit" value="Внести изменения"/>
        <input type="reset">
        </br>
    </fieldset>
</form>
</body>
</html>